---
layout: default
title: Blog
description: Software die werkt voor u.
permalink: /blog
---

<!-- Blog Page -->
<section class="blog-page">
    <div class="auto-container">
        <div class="row clearfix">

            {% for post in site.posts %}

            {% include blog-item.html
            url=post.url
            banner=post.banner
            topic=post.topic
            full-title=post.full-title
            author-image=post.author-image
            author=post.author
            day=post.day
            month=post.month
            %}

            {% endfor %}

        </div>

        <!-- Pagination Outer -->
        <div class="pagination-outer text-center">
            <ul class="pagination">
                <li><a href="#"><span class="fa-solid fa-chevron-left fa-fw"></span></a></li>
                <li class="active"><a href="#">01</a></li>
                <li><a href="#"><span class="fa-solid fa-chevron-right fa-fw"></span></a></li>
            </ul>
        </div>

    </div>
</section>
<!-- Blog Page -->