<!-- Faq One -->
<section class="faq-one">
    <div class="faq-one_pattern-layer" style="background-image: url(/assets/images/background/pattern-5.webp)">
    </div>
    <div class="auto-container">
        <div class="row clearfix">

            <!-- Image Column -->
            <div class="faq-one_image-column col-lg-6 col-md-12 col-sm-12">
                <div class="faq-one_image-inner parallax-scene-5">
                    <div class="faq-one_image" data-depth="0.20">
                        <img src="/assets/images/resource/faq.webp" alt="" />
                    </div>
                </div>
            </div>

            <!-- Content Column -->
            <div class="faq-one_content-column col-lg-6 col-md-12 col-sm-12">
                <div class="faq-one_content-inner">
                    <!-- Sec Title -->
                    <div class="sec-title">
                        <div class="sec-title_title">FAQ</div>
                        <h2 class="sec-title_heading">Vaak gestelde vragen</h2>
                    </div>

                    <!-- Accordion Box -->
                    <ul class="accordion-box">

                        <!-- Block -->
                        <li class="accordion block">
                            <div class="acc-btn active">
                                <div class="icon-outer"><span class="icon fa-solid fa-angle-down fa-fw"></span>
                                </div>Wat voor soort softwareoplossingen bieden jullie aan?
                            </div>
                            <div class="acc-content current">
                                <div class="content">
                                    <div class="text">Wij bieden softwareoplossingen aan die gericht zijn op het
                                        optimaliseren van de processen van onze klanten. Dit kunnen bijvoorbeeld
                                        softwareoplossingen zijn voor het automatiseren van workflows, het
                                        integreren van systemen, het analyseren van data of het verbeteren van
                                        de klantbeleving. Wij ontwikkelen softwareoplossingen op maat die
                                        aansluiten bij de specifieke behoeften en doelstellingen van onze
                                        klanten. Wij gebruiken innovatieve technologieën en methoden om
                                        hoogwaardige en duurzame softwareoplossingen te leveren.</div>
                                </div>
                            </div>
                        </li>

                        <!-- Block -->
                        <li class="accordion block">
                            <div class="acc-btn">
                                <div class="icon-outer"><span class="icon fa-solid fa-angle-down fa-fw"></span>
                                </div>Hoe werkt het proces van softwareontwikkeling op maat?
                            </div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">Het proces van softwareontwikkeling op maat bestaat uit de
                                        volgende stappen:
                                        <ul class="service-detail_list">
                                            <li>Intake: wij maken kennis met u en uw bedrijf, en bespreken uw
                                                wensen, eisen en verwachtingen voor de softwareoplossing.</li>
                                            <li>Analyse: wij onderzoeken uw huidige processen, systemen en data,
                                                en identificeren de uitdagingen en kansen die daarbij horen.
                                            </li>
                                            <li>Ontwerp: wij stellen een functioneel en technisch ontwerp op
                                                voor de softwareoplossing, waarin we de specificaties,
                                                functionaliteiten en architectuur beschrijven.</li>
                                            <li>Ontwikkeling: wij bouwen de softwareoplossing volgens het
                                                ontwerp, met behulp van agile methoden en tools. Wij testen de
                                                softwareoplossing tussentijds en betrekken u bij het
                                                feedbackproces.</li>
                                            <li>Oplevering: wij leveren de softwareoplossing op en zorgen voor
                                                de installatie, configuratie en integratie met uw bestaande
                                                systemen. Wij verzorgen ook de documentatie en training voor de
                                                gebruikers.</li>
                                            <li>Onderhoud: wij bieden u ondersteuning en service na de
                                                oplevering van de softwareoplossing. Wij zorgen voor updates,
                                                bugfixes en eventuele aanpassingen of uitbreidingen.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <!-- Block -->
                        <li class="accordion block">
                            <div class="acc-btn">
                                <div class="icon-outer"><span class="icon fa-solid fa-angle-down fa-fw"></span>
                                </div>Wat zijn de voordelen van softwareoplossingen op maat?
                            </div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">
                                        De voordelen van softwareoplossingen op maat zijn:

                                        <ul class="service-detail_list">
                                            <li>U krijgt een softwareoplossing die precies past bij uw behoeften
                                                en doelstellingen, en die uw processen optimaliseert.</li>
                                            <li>U kunt uw concurrentievoordeel vergroten door gebruik te maken
                                                van innovatieve technologieën en functionaliteiten die uw
                                                bedrijf onderscheiden.</li>
                                            <li>U kunt kosten besparen door efficiënter te werken, fouten te
                                                verminderen en resources te optimaliseren.</li>
                                            <li>U kunt flexibeler inspelen op veranderingen in de markt, de
                                                wetgeving of de klantvraag door uw softwareoplossing aan te
                                                passen of uit te breiden.</li>
                                            <li>U kunt uw klanttevredenheid verhogen door een betere service,
                                                communicatie en beleving te bieden.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <!-- Block -->
                        <li class="accordion block">
                            <div class="acc-btn">
                                <div class="icon-outer"><span class="icon fa-solid fa-angle-down fa-fw"></span>
                                </div>Hoe zorgen jullie voor de kwaliteit en veiligheid van de
                                softwareoplossingen?
                            </div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">
                                        Wij zorgen voor de kwaliteit en veiligheid van de softwareoplossingen
                                        door:
                                        <ul class="service-detail_list">
                                            <li>Het volgen van de best practices en standaarden voor
                                                softwareontwikkeling, zoals ISO 9001 en ISO 27001.</li>
                                            <li>Het toepassen van code reviews, unit tests, integratie tests en
                                                acceptatie tests om fouten te voorkomen en op te lossen.</li>
                                            <li>Het gebruiken van beveiligde protocollen, encryptie, firewalls
                                                en antivirussoftware om de data en systemen te beschermen tegen
                                                ongeautoriseerde toegang of aanvallen.</li>
                                            <li>Het maken van regelmatige back-ups en herstelpunten om
                                                dataverlies of downtime te voorkomen of te minimaliseren.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <!-- Block -->
                        <li class="accordion block">
                            <div class="acc-btn">
                                <div class="icon-outer"><span class="icon fa-solid fa-angle-down fa-fw"></span>
                                </div>Hoeveel kost het om een softwareoplossing op maat te laten ontwikkelen?
                            </div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">
                                        De kosten om een softwareoplossing op maat te laten ontwikkelen hangen
                                        af van verschillende factoren, zoals:

                                        <ul class="service-detail_list">
                                            <li>De complexiteit, omvang en duur van het project.</li>
                                            <li>De functionaliteiten, technologieën en integraties die nodig
                                                zijn voor de softwareoplossing.</li>
                                            <li>De mate van betrokkenheid, feedback en wijzigingen die u wenst
                                                tijdens het ontwikkelproces.</li>
                                            <li>De ondersteuning, service en garantie die u verwacht na de
                                                oplevering van de softwareoplossing.</li>
                                            <li>Om een nauwkeurige offerte te kunnen maken, hebben wij meer
                                                informatie nodig over uw wensen, eisen en verwachtingen voor de
                                                softwareoplossing. Neem contact met ons op voor een vrijblijvend
                                                gesprek.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <!-- Block -->
                        <li class="accordion block">
                            <div class="acc-btn">
                                <div class="icon-outer"><span class="icon fa-solid fa-angle-down fa-fw"></span>
                                </div>Hoe lang duurt het om een softwareoplossing op maat te laten ontwikkelen?
                            </div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">
                                        De duur om een softwareoplossing op maat te laten ontwikkelen hangt ook
                                        af van verschillende factoren, zoals:

                                        <ul class="service-detail_list">
                                            <li>De complexiteit, omvang en duur van het project.</li>
                                            <li>De beschikbaarheid van resources, zoals ontwikkelaars, testers
                                                en projectmanagers.</li>
                                            <li>De afstemming, communicatie en samenwerking tussen u en ons
                                                tijdens het ontwikkelproces.</li>
                                            <li>De feedback, wijzigingen en goedkeuringen die u geeft tijdens
                                                het ontwikkelproces.</li>
                                            <li>Om een realistische planning te kunnen maken, hebben wij meer
                                                informatie nodig over uw wensen, eisen en verwachtingen voor de
                                                softwareoplossing. Neem contact met ons op voor een vrijblijvend
                                                gesprek.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <!-- Block -->
                        <li class="accordion block">
                            <div class="acc-btn">
                                <div class="icon-outer"><span class="icon fa-solid fa-angle-down fa-fw"></span>
                                </div>Hoe ondersteunen jullie de klanten na de oplevering van de
                                softwareoplossing?
                            </div>
                            <div class="acc-content">
                                <div class="content">
                                    <div class="text">Wij ondersteunen onze klanten na de oplevering van de
                                        softwareoplossing door:

                                        <ul class="service-detail_list">
                                            <li>Het bieden van een garantieperiode waarin wij eventuele fouten
                                                of problemen kosteloos oplossen.</li>
                                            <li>Het leveren van onderhouds- en updateservice om de
                                                softwareoplossing up-to-date en veilig te houden.</li>
                                            <li>Het verzorgen van aanpassingen of uitbreidingen van de
                                                softwareoplossing als u nieuwe wensen of eisen heeft.</li>
                                            <li>Het bieden van een helpdesk waar u terecht kunt voor vragen,
                                                advies of ondersteuning.</li>
                                            <li>Wij streven naar een langdurige relatie met onze klanten en
                                                staan altijd klaar om u te helpen.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>

                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Faq One -->