<section>
    <div class="content">
        <div class="inner">
            <header class="major">
                <h3>Kenteken Spotter iOS</h3>
            </header>
            <p>Met de Kenteken Spotter app voor iOS kunt u super snel gegevens opvragen voor een nederlandse auto. Een kenteken overtypen is niet meer nodig. U kunt zelfs gegevens voor meerdere auto's tegelijk opvragen. Download de app uit de AppStore door op onderstaande knop te klikken.</p>
            <!-- <ul class="actions">
                <li><a href="/" class="button">Download</a></li>
            </ul> -->
            <p><i>Binnenkort te downloaden in de iOS app store.</i></p>
        </div>
    </div>
    <video data-position="center center" muted autoplay controls loop class="image">
        <source src="{% link assets/images/KentekenVideo.mp4 %}" type="video/mp4">
        <source src="{% link assets/images/KentekenVideo.webm %}" type="video/webm">
        Your browser does not support the video tag.
    </video>
</section>