<!-- About One -->
<section class="about-one">
    <div class="about-one_pattern" data-parallax='{"y" : 80}'
        style="background-image:url(/assets/images/background/pattern-2.webp)"></div>
    <div class="auto-container">
        <div class="row clearfix">
            <!-- Image Column -->
            <div class="about-one_image-column col-lg-6 col-md-12 col-sm-12">
                <div class="about-one_pattern-two" data-parallax='{"y" : 60}'
                    style="background-image:url(/assets/images/background/pattern-3.webp)"></div>
                <div class="about-one_color-layer" data-parallax='{"x" : 60}'></div>
                <div class="about-one_image-inner">
                    <div class="about-one_image-icon" data-depth="0.20"><img src="/assets/images/icons/service-3.png"
                            alt="" /></div>
                    <div class="parallax-scene-4">
                        <div class="about-one_image" data-depth="0.20">
                            <img src="/assets/images/resource/about.webp" alt="" />
                        </div>
                    </div>
                </div>
            </div>
            <!-- Image Column -->
            <div class="about-one_content-column col-lg-6 col-md-12 col-sm-12">
                <div class="about-one_content-inner">
                    <div class="about-one_title">Over ons</div>
                    <h3 class="about-one_heading">Wij optimaliseren de processen van onze klanten met
                        innovatieve softwareoplossingen.</h3>
                    <div class="about-one_text">FJAN IT ontwikkelt maatwerk software die uw bedrijf efficiënter,
                        effectiever en duurzamer maakt. Wij automatiseren workflows, integreren systemen,
                        analyseren data en verbeteren de klantbeleving. Wij werken samen met u om uw uitdagingen
                        en kansen te begrijpen en uw oplossingen te implementeren.</div>
                    <div class="row clearfix">
                        <!-- About One Block -->
                        <div class="about-one_block col-lg-6 col-md-6 col-sm-12">
                            <div class="about-one_block-icon flaticon-analysis"></div>
                            <h6 class="about-one_block-heading">Probleem Analyse</h6>
                            <div class="about-one_block-text">Het begrijpen van de behoeften en doelstellingen
                                van uw bedrijf, en het identificeren van de uitdagingen en kansen die daarbij
                                horen.</div>
                        </div>
                        <!-- About One Block -->
                        <div class="about-one_block col-lg-6 col-md-6 col-sm-12">
                            <div class="about-one_block-icon flaticon-idea"></div>
                            <h6 class="about-one_block-heading">Implementeren Oplossing</h6>
                            <div class="about-one_block-text">Het ontwikkelen en implementeren van
                                softwareoplossingen die aansluiten bij de behoeften en doelstellingen uw
                                bedrijf.</div>
                        </div>
                    </div>
                    <!-- Button Box -->
                    <div class="about-one_button-box">
                        <a class="btn-style-one theme-btn" href="contact.html">
                            <div class="btn-wrap">
                                <span class="text-one">Direct Contact <i
                                        class="fa-solid fa-arrow-right fa-fw"></i></span>
                                <span class="text-two">Direct Contact <i
                                        class="fa-solid fa-arrow-right fa-fw"></i></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About One -->

<!-- Steps One -->
<section class="steps-one">
    <div class="auto-container">
        <div class="row clearfix">

            <!-- Content Column -->
            <div class="steps-one_content-column col-lg-6 col-md-12 col-sm-12">
                <div class="steps-one_content-inner">
                    <!-- Sec Title -->
                    <div class="sec-title">
                        <div class="sec-title_title">Hoe wij Werken</div>
                        <h2 class="sec-title_heading">Tevreden wanneer u dat bent</h2>
                        <div class="sec-title_text">Bent u op zoek naar een software oplossing die perfect
                            aansluit bij uw wensen en behoeften? Dan bent u bij ons aan het juiste adres. Wij
                            zijn een software ontwikkelbedrijf dat gespecialiseerd is in het maken van software
                            op maat.</div>
                    </div>
                    <!-- Step Block -->
                    <div class="step-one_block">
                        <div class="step-one_block-inner">
                            <span class="step-one_block-icon flaticon-idea"></span>
                            <h4 class="step-one_block-title">Software op Maat</h4>
                            <div class="step-one_block-text">Wij luisteren naar uw ideeën en eisen, analyseren
                                uw bedrijfsprocessen en doelstellingen, en ontwerpen en bouwen een software
                                oplossing die precies doet wat u wilt.</div>
                        </div>
                    </div>
                    <!-- Step Block -->
                    <div class="step-one_block">
                        <div class="step-one_block-inner">
                            <span class="step-one_block-icon flaticon-conversation"></span>
                            <h4 class="step-one_block-title">Team van Experts</h4>
                            <div class="step-one_block-text">Wij werken met een team van experts die de software
                                ontwerpen, bouwen, testen en onderhouden. Wij gebruiken de nieuwste
                                technologieën en methoden, en zorgen voor een goede communicatie en samenwerking
                                gedurende het hele traject.</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Image Column -->
            <div class="steps-one_image-column col-lg-6 col-md-12 col-sm-12">
                <div class="steps-one_image-inner">
                    <div class="steps-one_pattern-layer" data-parallax='{"y" : 50}'
                        style="background-image: url(/assets/images/background/pattern-4.webp)"></div>
                    <div class="steps-one_image">
                        <div class="steps-one_icon flaticon-light-bulb"></div>
                        <img src="/assets/images/resource/fingerprint.png" alt="" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Steps One -->