<div class="service-block_one">
    <div class="service-block_one-inner">
        <div class="service-block_one-upper-box">
            <!-- <div class="service-block_one-icon "></div> -->
            <img src="{{ include.icon }}" />
            <h4 class="service-block_one-title"> {{include.title}} <!--<a href="/contact">{{ include.title }}</a>-->
            </h4>
            <div class="service-block_one-text">{{ include.body }}</div>
        </div>
        <div class="service-block_one-lower-box">
            <a class="service-block_one-more" href="{{ include.url }}">Lees meer</a>
        </div>
    </div>
</div>