---
layout: default
---

<!-- Case Detail -->
<section class="case-detail">
    <div class="auto-container">
        <div class="image">
            <img src="{{page.banner}}" alt="" />
        </div>
        <div class="lower-content">
            <div class="row clearfix">

                <div class="content-column col-lg-8 col-md-12 col-sm-12">
                    {{ content }}
                </div>

                <!-- Info Column -->
                <div class="info-column col-lg-4 col-md-12 col-sm-12">
                    <div class="info-column_inner">
                        <ul>
                            {% if page.datum %}<li>Datum:<span>{{page.datum}}</span></li>{% endif %}
                            {% if page.tags %}<li>Tags:<span>{{page.tags}}</span></li>{% endif %}
                            {% if page.location %}<li>Locatie:<span>{{page.location}}</span></li>{% endif %}
                            {% if page.website %}<li>Website:<span><a href="https://{{page.website}}"
                                        target="_blank">{{page.website}}</a></span></li>{% endif %}
                            
                            {% if page.facebook or page.linkedin or page.instagram or page.whatsapp %}      
                            <li class="social-nav">
                                Socials: <br><br>
                                <!-- Social Box -->
                                {% if page.facebook %}<a href="{{page.facebook}}" target="_blank"
                                    class="fa fa-facebook-f"></a>{% endif %}
                                {% if page.linkedin %}<a href="{{page.linkedin}}" target="_blank"
                                    class="fa fa-linkedin"></a>{% endif %}
                                {% if page.instagram %}<a href="{{page.instagram}}" target="_blank"
                                    class="fa fa-instagram"></a>{% endif %}
                                {% if page.whatsapp %}<a href="{{page.whatsapp}}" target="_blank"
                                    class="fa fa-whatsapp"></a>{% endif %}
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Case One -->