<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!-- Stylesheets -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <link href="/assets/css/style.css" rel="stylesheet">
    <link href="/assets/css/responsive.css" rel="stylesheet">
    <!-- Custom style -->
    <link href="/assets/css/custom-style.css" rel="stylesheet">

    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
          as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript>
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap">
    </noscript>
    <!-- Color Themes -->
    <link id="theme-color-file" href="/assets/css/color-themes/default-color.css" rel="stylesheet">

    <link rel="shortcut icon" href="/assets/images/favicon.png" type="image/x-icon">
    <link rel="icon" href="/assets/images/favicon.png" type="image/x-icon">

    {% seo %}

    <!-- Responsive -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-QNC8KRRDBS"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'G-QNC8KRRDBS');
</script>

<body>

<div class="page-wrapper">

    <!-- Preloader -->
    <!-- <div class="preloader"></div> -->
    <!-- End Preloader -->

    <!-- Main Header -->
    <header class="main-header">

        <!-- Header Lower -->
        <div class="header-lower">

            <div class="auto-container">
                <div class="inner-container d-flex justify-content-between align-items-center">

                    <!-- Logo Box -->
                    <div class="logo-box d-flex">
                        <div class="logo"><a href="/"><img class="fjan-logo" src="/assets/images/logo.webp" alt=""
                                                           title=""></a></div>
                    </div>

                    <div class="nav-outer d-flex align-items-center">

                        <!-- Main Menu -->
                        <nav class="main-menu show navbar-expand-md">
                            <div class="navbar-header">
                                <button class="navbar-toggler" type="button" data-toggle="collapse"
                                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                        aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>

                            <div class="navbar-collapse collapse clearfix" id="navbarSupportedContent">
                                <ul class="navigation clearfix">
                                    <li><a href="/">Home</a></li>

                                    <li class="dropdown"><a href="#">Diensten</a>
                                        <ul>
                                            <li><a href="/diensten/software-ontwikkeling">Software ontwikkeling</a></li>
                                            <li><a href="/diensten/digitale-transformatie">Digitale transformatie</a></li>
                                            <li><a href="/diensten/software-consulting">Software consulting</a></li>
                                            <li><a href="/diensten/cloud-enablement">Cloud enablement</a></li>
                                            <li><a href="/diensten/data-en-analyse">Data & Analyse</a></li>
                                            <li><a href="/diensten/managed-it-services">Managed IT-services</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/cases">Cases</a></li>
                                    <li><a href="/blog">Blog</a></li>

                                    <!-- <li class="dropdown"><a href="#">Cases</a>
                                        <ul>
                                            <li><a href="/cases">Cases</a></li>
                                            <li><a href="/cases/mybusinesscard">Mybusinesscard</a></li>
                                        </ul>
                                    </li> -->

                                    <li><a href="/contact">Contact</a></li>
                                </ul>
                            </div>

                        </nav>
                        <!-- Main Menu End-->

                    </div>

                    <!-- Outer Box -->
                    <div class="outer-box d-flex align-items-center">

                        <!-- Phone Box -->
                        <div class="header-phone">
                            <div class="header-phone_inner">
                                <span class="header-phone_icon flaticon-email"></span>
                                Contact opnemen <br>
                                <a href="mailto:info@fjan.nl">info@fjan.nl</a>
                            </div>
                        </div>

                        <!-- Mobile Navigation Toggler -->
                        <div class="mobile-nav-toggler"><span class="icon"><img src="/assets/images/icons/menu.png"
                                                                                alt=""/></span></div>

                    </div>
                    <!-- End Outer Box -->

                </div>

            </div>
        </div>
        <!-- End Header Lower -->

        <!-- Sticky Header  -->
        <div class="sticky-header">
            <div class="auto-container">
                <div class="d-flex justify-content-between align-items-center">
                    <!-- Logo -->
                    <div class="logo">
                        <a href="/" title=""><img class="fjan-logo" src="/assets/images/logo.webp" alt=""
                                                  title=""></a>
                    </div>

                    <!-- Right Col -->
                    <div class="right-box">
                        <!-- Main Menu -->
                        <nav class="main-menu">
                            <!--Keep This Empty / Menu will come through Javascript-->
                        </nav>
                        <!-- Main Menu End-->

                        <!-- Mobile Navigation Toggler -->
                        <div class="mobile-nav-toggler"><span class="icon"><img src="/assets/images/icons/menu.png"
                                                                                alt=""/></span></div>

                    </div>

                </div>
            </div>
        </div>
        <!-- End Sticky Menu -->

        <!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><span class="icon flaticon-cancel-1"></span></div>
            <nav class="menu-box">
                <div class="nav-logo"><a href="/"><img class="fjan-logo" src="/assets/images/logo.webp" alt=""
                                                       title=""></a></div>
                <div class="menu-outer">
                    <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
                </div>
            </nav>
        </div>
        <!-- End Mobile Menu -->

    </header>
    <!-- End Main Header -->

    <!-- Slider One -->
    <section class="slider-one">
        <div class="slider-one_pattern-layer"
             style="background-image: url(/assets/images/background/pattern-1.webp)"></div>
        <div class="header-carousel">

            <!-- Slide -->
            <div class="slide">
                <div class="auto-container">
                    <div class="row clearfix">
                        <!-- Slider One Title Column -->
                        <div class="col-lg-7 col-md-12 col-sm-12">
                            <div class="slider-one_title-inner">
                                <h1 class="slider-one_heading">Jouw succes, <br>onze expertise</h1>
                                <div class="slider-one_text">FJAN IT is uw technologie partner voor de toekomst. Wij
                                    helpen u met het realiseren van uw ideeën, het optimaliseren van uw processen en
                                    het verbeteren van uw resultaten.
                                </div>
                                <!-- Button Box -->
                                <div class="slider-one_button-box">
                                    <a class="btn-style-one theme-btn" href="/contact">
                                        <div class="btn-wrap">
												<span class="text-one">Gratis offerte <i
                                                        class="fa-solid fa-arrow-right fa-fw"></i></span>
                                            <span class="text-two">Gratis offerte <i
                                                    class="fa-solid fa-arrow-right fa-fw"></i></span>
                                        </div>
                                    </a>
                                    <a class="btn-style-two theme-btn" href="/cases">
                                        <div class="btn-wrap">
												<span class="text-one">Bekijk meer <i
                                                        class="fa-solid fa-arrow-right fa-fw"></i></span>
                                            <span class="text-two">Bekijk meer <i
                                                    class="fa-solid fa-arrow-right fa-fw"></i></span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Slider One Image Column -->
                        <div class="d-flex align-items-center mt-l-0 mt-5 col-lg-5 col-md-12 col-sm-12">
                            <img src="/assets/images/undraw_software_engineer_re_tnjc.svg" class="wow fadeInUp"
                                 alt="Computer op bureau"/>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>
    <!-- End Slider One -->

    <!-- Services One -->
    <section class="services-one">
        <div class="auto-container">
            <div class="four-item-carousel owl-carousel owl-theme">

                {% include service-item.html title="Software ontwikkeling" body="Bouwen van op maat gemaakte software
                met begrijpelijke workflows, onderhoudbare code en gedetailleerde documentatie."
                icon="\assets\images\undraw_Programming.png" url="/diensten/software-ontwikkeling" %}

                {% include service-item.html title="Digitale transformatie" body="Advies en strategie om
                bedrijfsprocessen te optimaliseren met behulp van technologie."
                icon="\assets\images\undraw_Visionary_technology.png" url="/diensten/digitale-transformatie" %}

                {% include service-item.html title="Software consulting" body="Hulp bij softwaregerelateerde
                uitdagingen, zowel bij het bouwen van nieuwe software als bij het maximaliseren van bestaande systemen."
                icon="\assets\images\undraw_Team_collaboration.png" url="/diensten/software-consulting"
                %}

                {% include service-item.html title="Cloud-enablement" body="Ondersteuning bij het benutten van
                cloudmogelijkheden voor schaalbaarheid, beveiliging en kostenbesparing."
                icon="\assets\images\undraw_Cloud_hosting.png" url="/diensten/cloud-enablement"
                %}

                {% include service-item.html title="Data & Analyse" body="Verzamelen, verwerken en interpreteren van
                data voor
                betere beslissingen." icon="\assets\images\undraw_Data.png" url="/diensten/data-en-analyse" %}

                {% include service-item.html title="Managed IT-services" body="Volledig beheer van IT-infrastructuur en
                bedrijfssoftware, inclusief monitoring en ontwikkeling op aanvraag."
                icon="\assets\images\undraw_Online_organizer.png" url="/diensten/managed-it-services"
                %}

            </div>
        </div>
    </section>
    <!-- End Services One -->

    <section class="my-5">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-7 col-md-12 col-sm-12 p-5">
                    <img class="rounded-5 wow fadeInLeft"
                         src="/assets/images/resource/mockup-of-a-macbook-pro-on-a-table-at-a-coffee-shop-2447-el1 (3).png"/>
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12 p-5">
                    <div class="rounded">
                        <div class="tag">case</div>
                        <h3 class="about-one_heading">Mybusinesscard</h3>
                        <p class="mt-2 mb-5">Voor Mybusinesscard heeft FJAN IT een systeem ontwikkeld waarmee
                            razendsnel contact gegevens gedeeld kunnen worden. Een unieke business card die is
                            ontwikkeld om uw netwerkervaring naar een hoger niveau te tillen. Deel uw
                            contactgegevens sneller, efficiënter en duurzamer door een simpele tap of scan. Met
                            Mybusinesscard maken meer dan 2000 merken een
                            onvergetelijke indruk op hun zakelijke relaties en besparen ze tijd en papier.</p>
                    </div>

                    <!-- Button Box -->
                    <a class="btn-style-one theme-btn" href="/cases/mybusinesscard">
                        <div class="btn-wrap">
                            <span class="text-one">Lees verder <i class="fa-solid fa-arrow-right fa-fw"></i></span>
                            <span class="text-two">Lees verder <i class="fa-solid fa-arrow-right fa-fw"></i></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="my-5">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-5 col-md-12 col-sm-12 p-5 text-end">
                    <div class="rounded">
                        <div class="tag">case</div>
                        <h3 class="about-one_heading">Trusthero</h3>
                        <p class="mt-2 mb-5">Dankzij Trusthero’s SaaS-oplossing heeft het bedrijf een schat aan
                            waardevolle inzichten verzameld. Ze hebben niet
                            alleen hun product geoptimaliseerd op basis van klantfeedback, maar ook hun online
                            aanwezigheid vergroot. Positieve
                            mond-tot-mondreclame is nu een krachtig instrument geworden.</p>
                    </div>

                    <!-- Button Box -->
                    <a class="btn-style-one theme-btn" href="/cases/trusthero">
                        <div class="btn-wrap">
                            <span class="text-one">Lees verder <i class="fa-solid fa-arrow-right fa-fw"></i></span>
                            <span class="text-two">Lees verder <i class="fa-solid fa-arrow-right fa-fw"></i></span>
                        </div>
                    </a>
                </div>

                <div class="col-lg-7 col-md-12 col-sm-12 p-5">
                    <img class="rounded-5 wow fadeInRight" src="/assets/images/resource/Trusthero_mobile.webp"/>
                </div>
            </div>
        </div>
    </section>

    <section class="my-5">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-7 col-md-12 col-sm-12 p-5">
                    <img class="rounded-5 wow fadeInLeft"
                         src="/assets/images/slimmemeteruitlezen site.png"/>
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12 p-5">
                    <div class="rounded">
                        <div class="tag">case</div>
                        <h3 class="about-one_heading">Slimmemeteruitlezen.nl</h3>
                        <p class="mt-2 mb-5">Voor slimmemetersuitlezen.nl heeft FJAN IT een Progressive Web App
                            ontwikkeld om de gebruiksvriendelijkheid te verbeteren. Slimmemeteruitlezen.nl was
                            oorspronkelijk een website gericht op desktopgebruikers. Het bood functionaliteit om slimme
                            meters uit te lezen, maar klanten gaven aan dat ze ook toegang wilden via mobiele apparaten.
                            Om aan deze vraag te voldoen, besloot Slimmemeteruitlezen.nl om een mobielvriendelijke
                            oplossing te ontwikkelen.</p>
                    </div>

                    <!-- Button Box -->
                    <a class="btn-style-one theme-btn" href="/cases/slimmemeteruitlezen">
                        <div class="btn-wrap">
                            <span class="text-one">Lees verder <i class="fa-solid fa-arrow-right fa-fw"></i></span>
                            <span class="text-two">Lees verder <i class="fa-solid fa-arrow-right fa-fw"></i></span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>


    <!-- News One -->
    <section class="mt-5 news-one">
        <div class="auto-container">
            <!-- Sec Title -->
            <div class="sec-title centered">
                <div class="sec-title_title">Onze blog</div>
                <h2 class="sec-title_heading">Laatste nieuws & blog</h2>
                <div class="sec-title_separator"></div>
            </div>

            <div class="row clearfix">
                {% for post in site.posts limit:3 %}

                {% include blog-item.html
                url=post.url
                banner=post.banner
                topic=post.topic
                full-title=post.full-title
                author-image=post.author-image
                author=post.author
                day=post.day
                month=post.month
                %}

                {% endfor %}

            </div>
        </div>
    </section>
    <!-- End News One -->

    {% include footer.html %}

</div>
<!-- End PageWrapper -->

<!-- Scroll To Top -->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fas fa-arrow-up fa-fw"></span></div>

<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/popper.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/magnific-popup.min.js"></script>
<script src="/assets/js/appear.js"></script>
<script src="/assets/js/parallax.min.js"></script>
<script src="/assets/js/tilt.jquery.min.js"></script>
<script src="/assets/js/owl.js"></script>
<script src="/assets/js/wow.js"></script>
<script src="/assets/js/parallax-scroll.js"></script>

<script src="/assets/js/odometer.js"></script>
<script src="/assets/js/nav-tool.js"></script>
<script src="/assets/js/jquery-ui.js"></script>
<script src="/assets/js/color-settings.js"></script>
<script src="/assets/js/script.js"></script>

<!--[if lt IE 9]>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
<!--[if lt IE 9]>
<script src="js/respond.js"></script><![endif]-->

</body>

</html>